services:
  api:
    build: ./backend
    container_name: fastnotes_app
    depends_on:
      - postgres
    volumes:
      - ./backend:/usr/src/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - ./.env
  postgres:
    image: postgres:17.5
    container_name: fastnotes_postgres_db
    env_file:
      - ./.env
    ports:
    - "5432:5432"
    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db:
